.skin-green .wrapper, .skin-green .main-sidebar, .skin-green .left-side, .content-wrapper {
    background-color: #FFFFFF;
}
.main-content {
    background-color: #ecf0f5;
}
.skin-green .content-header, .background-wrapper, .skin-green .wrapper, .content-wrapper {
    background: #ecf0f5;
}
.border-top {
    border-top: 1px solid #e4e5e7;
}
.border-bottom {
    border-bottom: 1px solid #e4e5e7;
}
.border-right {
    border-right: 1px solid #e4e5e7;
}
.border-left {
    border-left: 1px solid #e4e5e7;
}
.modal-backdrop {
    z-index: -1;
}
.main-header {
    z-index: 0;
}
.sweet-alert p {
    max-height: 300px;
    overflow: auto;
}