<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SIMAPES - Sistem Informasi Manajemen Pesantren</title>

        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/vendor/font-awesome-animation/font-awesome-animation.min.css">

        <link rel="stylesheet" href="assets/vendor/ionicons/ionicons.min.css">
        <link rel="stylesheet" href="assets/plugins/datatables/dataTables.bootstrap.css">

        <link rel="stylesheet" href="assets/vendor/datatables/jquery.dataTables.min.css">
        <link rel="stylesheet" href="assets/vendor/datatables-colvis/dataTables.colVis.css">
        <link rel="stylesheet" href="assets/vendor/datatables-tabletools/dataTables.tableTools.css">
        <link rel="stylesheet" href="assets/vendor/datatables-responsive/responsive.dataTables.css">
        <!--<link rel="stylesheet" href="assets/vendor/datatables-buttons/buttons.dataTables.css">-->
        <link rel="stylesheet" href="assets/vendor/datatables-select/select.dataTables.css">
        <link rel="stylesheet" href="assets/plugins/bootstrap/datatables.bootstrap.min.css">
        <link rel="stylesheet" href="assets/plugins/angular-datatables/angular-datatables.css">
        <link rel="stylesheet" href="assets/plugins/animate/animate.css">
        <link rel="stylesheet" href="assets/plugins/pace/pace.min.css">

        <link rel="stylesheet" href="assets/plugins/angular-material/angular-material.css">
        
        <link rel="stylesheet" href="assets/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="assets/dist/css/skins/skin-green.min.css">


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="assets/custom/apps.css">
    </head>
    <body class="hold-transition skin-green layout-top-nav background-wrapper" ng-app="mainApp">

        <script src="assets/plugins/jQuery/jquery-2.2.3.min.js"></script>
        <!--<script src="assets/bootstrap/js/bootstrap.min.js"></script>-->
        <script src="assets/vendor/bootstrap/3.3.4/bootstrap.min.js"></script>
        <script src="assets/vendor/bootstrap/3.3.4/bootstrap-theme.min.js"></script>
        <script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script src="assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="assets/plugins/fastclick/fastclick.js"></script>
        <script src="assets/plugins/tv4/tv4.min.js"></script>
        <script src="assets/plugins/pace/pace.min.js"></script>

        <script src="assets/vendor/angular/angular.min.js"></script>
        <script src="assets/vendor/angular/angular-animate.min.js"></script>
        <script src="assets/vendor/angular/angular-aria.min.js"></script>
        <script src="assets/vendor/angular/angular-route.min.js"></script>
        <script src="assets/vendor/angular/angular-messages.min.js"></script>
        <script src="assets/vendor/angular/angular-touch.min.js"></script>
        <script src="assets/vendor/angular-highlightjs/angular-highlightjs.min.js"></script>
        <script src="assets/vendor/angular-resource/angular-resource.min.js"></script>
        <script src="assets/vendor/datatables/jquery.dataTables.js"></script>
        <script src="assets/vendor/datatables-colvis/dataTables.colVis.js"></script>
        <script src="assets/vendor/datatables-tabletools/dataTables.tableTools.js"></script>
        <script src="assets/vendor/datatables-scroller/dataTables.scroller.js"></script>
        <script src="assets/vendor/datatables-light-columnfilter/dataTables.lightColumnFilter.min.js"></script>
        <script src="assets/vendor/datatables-buttons/dataTables.buttons.js"></script>
        <script src="assets/vendor/datatables-buttons/buttons.colVis.js"></script>
        <script src="assets/vendor/datatables-buttons/buttons.flash.js"></script>
        <script src="assets/vendor/datatables-buttons/jszip.min.js"></script>
        <script src="assets/vendor/datatables-buttons/pdfmake.min.js"></script>
        <script src="assets/vendor/datatables-buttons/vfs_fonts.js"></script>
        <script src="assets/vendor/datatables-buttons/buttons.html5.js"></script>
        <script src="assets/vendor/datatables-buttons/buttons.print.js"></script>
        <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>
        <script src="assets/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="assets/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

        <script src="assets/plugins/angular-datatables/angular-datatables.min.js"></script>
        <script src="assets/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>
        <script src="assets/plugins/colvis/angular-datatables.colvis.min.js"></script>
        <script src="assets/plugins/tabletools/angular-datatables.tabletools.min.js"></script>
        <script src="assets/plugins/light-columnfilter/angular-datatables.light-columnfilter.js"></script>
        <script src="assets/plugins/buttons/angular-datatables.buttons.min.js"></script>

        <script src="assets/plugins/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="assets/plugins/angular-schema-form/ObjectPath.js"></script>
        <script src="assets/plugins/angular-schema-form/schema-form.min.js"></script>
        <script src="assets/plugins/angular-schema-form/bootstrap-decorator.min.js"></script>

        <script src="assets/plugins/angular-material/angular-material.min.js"></script>

        <script src="assets/dist/js/app.min.js"></script>
        <script src="assets/dist/js/demo.js"></script>

        <script src="assets/custom/apps.js"></script>

        <script type="text/javascript">
            $(document).ajaxStart(function () {
                Pace.restart();
            });
        </script>

        <div class="wrapper">
            <header class="main-header animated fadeIn" ng-include="'template/show/nav_bar.html'" ng-controller="headerController"></header>
            <div class="content-wrapper animated fadeIn"><ng-view></ng-view></div>
            <footer class="main-footer animated fadeIn" ng-include="'template/show/footer.html'" ng-controller="footerController"></footer>
        </div>
    </body>
</html>