
<div flex="80" flex-offset="5">
    <md-toolbar class="md-menu-toolbar">
        <div layout="row">
            <md-toolbar-filler class="kk-toolbar-filler" layout layout-align="center center">
                <md-icon class="material-icons md-48 kk-icon-title">home</md-icon>
            </md-toolbar-filler>
            <div>
                <h2 class="md-toolbar-tools md-display-3 kk-toolbar-tools">{{ name_app }}</h2>
                <md-menu-bar class="kk-menu-bar">
                    <md-menu ng-repeat="menu in menus">
                        <button ng-click="$mdMenu.open()">
                            {{ menu.title}}
                        </button>
                        <md-menu-content width="4">
                            <md-menu-item ng-repeat="childMenu in menu.childMenus">
                                <md-button ng-if="!childMenu.haveChild" ng-click="go(childMenu)">
                                    {{ childMenu.title}}
                                </md-button>
                                <md-menu ng-if="childMenu.haveChild">
                                    <md-button ng-click="$mdMenu.open()">
                                        {{ childMenu.title}}
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item ng-repeat="childMenuChild in childMenu.childMenuChilds">
                                            <md-button ng-click="go(childMenuChild)">
                                                {{ childMenuChild.title}}
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
        </div>
    </md-toolbar>
</div>
<div flex="10" layout="row" layout-align="end center">
    <div>
        <md-icon class="material-icons md-36 kk-icon-title">exit_to_app</md-icon>
    </div>
</div>