
<div flex="80" flex-offset="5">
    <md-toolbar class="md-menu-toolbar">
        <div layout="row">
            <md-toolbar-filler class="kk-toolbar-filler" layout layout-align="center center">
                <md-icon class="material-icons md-48 kk-icon-title">home</md-icon>
            </md-toolbar-filler>

            <div>
                <h2 class="md-toolbar-tools md-display-3 kk-toolbar-tools">SIMAPES</h2>
                <md-menu-bar class="kk-menu-bar">
                    <md-menu ng-repeat="menu in menus">
                        <a href="#/{{ menu.link}}">
                            <button ng-click="$mdMenu.open()">
                                {{ menu.title}}
                            </button>
                        </a>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="ctrl.sampleAction('share', $event)">
                                    Share...
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-menu>
                                    <md-button ng-click="$mdMenu.open()">New</md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item><md-button ng-click="ctrl.sampleAction('New Document', $event)">Document</md-button></md-menu-item>
                                        <md-menu-item><md-button ng-click="ctrl.sampleAction('New Spreadsheet', $event)">Spreadsheet</md-button></md-menu-item>
                                        <md-menu-item><md-button ng-click="ctrl.sampleAction('New Presentation', $event)">Presentation</md-button></md-menu-item>
                                        <md-menu-item><md-button ng-click="ctrl.sampleAction('New Form', $event)">Form</md-button></md-menu-item>
                                        <md-menu-item><md-button ng-click="ctrl.sampleAction('New Drawing', $event)">Drawing</md-button></md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.sampleAction('Open', $event)">
                                    Open...
                                    <span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button disabled="disabled" ng-click="ctrl.sampleAction('Rename', $event)">
                                    Rename
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-click="ctrl.sampleAction('Print', $event)">
                                    Print
                                    <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
        </div>
    </md-toolbar>
</div>
<div flex="10" layout="row" layout-align="end center">
    <div>
        <md-icon class="material-icons md-36 kk-icon-title">exit_to_app</md-icon>
    </div>
</div>